<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section">
        <h3>Altius 2k25</h3>
        <p>Technical Fest of the Year</p>
      </div>
      
      <div class="footer-section">
        <h4>Quick Links</h4>
        <a routerLink="/home">Home</a>
        <a routerLink="/events">Events</a>
        <a routerLink="/departments">Departments</a>
      </div>
      
      <div class="footer-section">
        <h4>Social Media</h4>
        <div class="social-links">
          <a href="https://facebook.com/altius2k25" target="_blank">Facebook</a>
          <a href="https://instagram.com/altius2k25" target="_blank">Instagram</a>
          <a href="https://twitter.com/altius2k25" target="_blank">Twitter</a>
          <a href="https://linkedin.com/company/altius2k25" target="_blank">LinkedIn</a>
        </div>
        <div class="social-links">
          <a href="https://facebook.com/altius2k24" target="_blank">Altius 2k24 (Previous Year)</a>
        </div>
      </div>
    </div>
    
    <div class="footer-bottom">
      <p>&copy; {{ currentYear }} Altius 2k25. All rights reserved.</p>
    </div>
  </div>
</footer>
